PORT=5000
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzcmJtYmt5dGRtaXdqa2J5YXR6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODY1MDA1MCwiZXhwIjoyMDk0MjI2MDUwfQ.4jAM8loroE6L3xvfdtJP75Pvx1YwPIMJXC9weIZ5lLM
SUPABASE_URL=https://fsrbmbkytdmiwjkbyatz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzcmJtYmt5dGRtaXdqa2J5YXR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NTAwNTAsImV4cCI6MjA5NDIyNjA1MH0.tWCiSrtfudx0ECBM-0fVAjqPi7PZAyj-DcncWBPk2e4

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=asimuhammed026@gmail.com
SMTP_PASS=mksu zilx irgf ayla